@model WhatsCookinGroupCapstone.Models.Reviews

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewForRecipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewForRecipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
