@model IEnumerable<WhatsCookinGroupCapstone.Models.Reviews>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family: 'Cookie', cursive; font-weight: 600; font-size: 50px;">Ratings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewForRecipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewForRecipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
