@model WhatsCookinGroupCapstone.Models.CookSavedRecipes

@{
    ViewData["Title"] = "CooksSaves";
}

<h1>Your Saved Recipes!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.AllRecipes.RecipeName)*@
                Recipe Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IMGUrl)*@
                IMG Url
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Ingredients)*@
                Ingredients
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Description
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Steps)*@
                Steps
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Cook)*@
                Cook
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllRecipes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMGUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cook.CookId)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
