@model IEnumerable<WhatsCookinGroupCapstone.Models.Recipe>

@{
    ViewData["Title"] = "CooksSavedRecipes";
}

<h1>CooksSavedRecipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMGUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cook.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMGUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cook.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
