@model IEnumerable<WhatsCookinGroupCapstone.Models.CookSavedRecipes>

@{
    ViewData["Title"] = "CooksSaved";
}

<h1>CooksSaved</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMGUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cook.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CookSavedRecipesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CookSavedRecipesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CookSavedRecipesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
