@model WhatsCookinGroupCapstone.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-family: 'Cookie', cursive; font-weight: 600; font-size: 50px;">Details</h1>

<div>
        <div class="row">
            <div class="col-4">
                <img src="@Html.ViewData.Model.IMGUrl" style="height: 350px; width: 350px;" />
            </div>

        </div>

        @Html.ActionLink(
       linkText: "See Suggested Edits",
       actionName: "GetEdits",
       controllerName: "Recipes",
       routeValues: new
       {
           id = Model.RecipeId
       }
    )

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecipeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecipeName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ingredients)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ingredients)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Steps)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Steps)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cook)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CookName)
            </dd>
        </dl>

</div>
<div>
    <a asp-action="Index">Back to List </a>|
    <a asp-action="SubmitEdit" asp-route-id="@Model.RecipeId"> Submit a Edit </a>|
    <a asp-action="GetEdits" asp-route-id="@Model.RecipeId"> View Edits </a>|
    @*<a asp-action="CooksSaved" asp-route-id="@Model.RecipeId"> Save Recipe </a>|*@

    @Html.ActionLink(
    linkText: "Follow",
    actionName: "Follow",
    controllerName: "Cook",
    routeValues: new
        {
        id = Model.RecipeId
    },
    htmlAttributes: null
)
</div>
