@model WhatsCookinGroupCapstone.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    @*<button onclick="location.href='https://localhost:44384/Recipes/Details/@Html.ViewData.Model.FeelinLucky.RecipeId'" type="button">
        Feelin' Lucky
    </button>*@
    
    @Html.ActionLink(
   linkText: "See Suggested Edits",
   actionName: "GetEdits",
   controllerName: "Recipes",
   routeValues: new
   {
       id = Model.RecipeId
   }

)
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RecipeName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RecipeName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IMGUrl)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IMGUrl)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Ingredients)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Ingredients)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Steps)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Steps)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cook)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CookName)
                </dd>
            </dl>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
    <div>
        <a asp-action="Index">Back to List</a>|

        <a asp-action="SubmitEdit" asp-route-id="@Model.RecipeId">Submit a Edit</a>|
        <a asp-action="ViewEdits" asp-route-id="@Model.RecipeId">View Others Edits</a>|


        @Html.ActionLink(
        linkText: "Follow",
        actionName: "Follow",
        controllerName: "Cook",
        routeValues: new
            {
            id = Model.CookID
        },
        htmlAttributes: null
    )
    </div>
