@model IEnumerable<WhatsCookinGroupCapstone.Models.Recipe>
@*The users Cookbook*@
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to your Recipes!!</h1>
<h4>To add a new Recipe click "create new" down below!</h4>
<p>
    <a asp-action="Create">Create New</a> 

    <a asp-action="Create">Create New</a> |
    <a asp-action="Search">Search for Recipes</a>|
    <a asp-action="Saved Recipes"></a>|
    @Html.ActionLink(
   linkText: "Cooks You Are Following",
   actionName: "Followers",
   controllerName: "Cook"
 
)

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMGUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMGUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Steps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CookName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a> |
                    <a asp-action="Review" asp-route-id="@item.RecipeId">Submit Review</a> |
                    <a asp-action="SeeReviews" asp-route-id="@item.RecipeId">See Reviews</a> |
                </td>
            </tr>
      
        }
    </tbody>
    

</table>
