@model IEnumerable<WhatsCookinGroupCapstone.Models.Recipe>
@*The users Cookbook*@
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" media="screen" runat="server" href="~/css/StyleSheet.css" />

</head>
<h1 style="font-family: 'Cookie', cursive; text-align: center; font-weight: 600; font-size: 50px;">Your Recipes!</h1>
<h5 style="text-align: center">To add a new Recipe click <i>"Create"</i> down below!</h5>
<p>
    <div class="container" style="text-align:center;">

        <input type="button" class="btn btn-primary" style="font-family: 'Cookie', cursive; color: white; font-size: 25px; width: 120px;" value="Create"
               onclick="location.href='@Url.Action("Create", "Recipes")'" />
        <input type="button" class="btn btn-primary" style="font-family: 'Cookie', cursive; color: white; font-size: 25px; width: 160px; margin: 0 30px 0 30px;" value="Saved Recipes"
               onclick="location.href='@Url.Action("CooksSaved", "Recipes")'" />
        <input type="button" class="btn btn-primary" style="font-family: 'Cookie', cursive; color: white; font-size: 25px; width: 120px;" value="Following"
               onclick="location.href='@Url.Action("FOllowers", "Cook")'" />
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IMGUrl)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeId"  style="font-family: 'Cookie'; font-size: 20px; color: rgb(13,10,77);">
                    @Html.DisplayFor(modelItem => item.RecipeName)
                    </a>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.IMGUrl)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Steps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CookName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a> |
                    <a asp-action="SeeReviews" asp-route-id="@item.RecipeId">See Your Reviews</a> |
                </td>
            </tr>
        }
    </tbody>
    

</table>
